<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Пропуски</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>
<div th:insert="blocks/nav :: nav"></div>
<section class="py-4 py-md-5 my-5">
    <div class="container-md py-md-5">
        <h2 class="display-6 fw-bold mb-5 text-center">
            <span class="pb-1"><strong>Пропуски</strong></span>
        </h2>
        <div class="text-center">
            <span class="lead" th:text="${user.attendance}"></span>
        </div>
        <hr>
        <div id="drawAbsence" class="w-100" style="height: 300px"></div>
        <hr>
        <div th:each="i : ${user.absences}" class="row mb-2">
            <div class="col">
                <input type="text" readonly th:value="${i.subject.name}" class="form-control">
            </div>
            <div class="col-auto">
                <input type="text" readonly th:value="${i.reason.name}" class="form-control">
            </div>
            <div class="col-auto">
                <input type="date" readonly th:value="${i.date}" class="form-control">
            </div>
            <div class="col-auto">
                <input type="number" readonly th:value="${i.count}" class="form-control">
            </div>
        </div>

    </div>
</section>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript" type="text/javascript">
    var absencesDisrespectful = /*[[${user.absencesDisrespectful}]]*/ 0;
    var absencesRespectful = /*[[${user.absencesRespectful}]]*/ 0;
</script>
<script src="/js/stats.js"></script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/startup-modern.js"></script>

</body>

</html>
