<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Группа</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>
<div th:insert="blocks/nav :: nav"></div>
<section class="py-4 py-md-5 my-5">
    <div class="container-md py-md-5">
        <h2 class="display-6 fw-bold mb-5 text-center">
            <span class="pb-1"><strong>Группа</strong></span>
        </h2>

        <div class="text-center">
            <a href="/groups" class="btn btn-primary mb-5">Назад</a>
        </div>

        <form th:action="${'/groups/' + groupId + '/users/add'}" method="post">
            <div class="row">
                <div class="col">
                    <select name="userId" required class="form-select">
                        <option th:each="i : ${users}" th:value="${i.id}" th:label="${i.fio}"></option>
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Добавить</button>
                </div>
            </div>
        </form>
        <hr>
        <div th:each="i : ${group.users}" class="row mb-2">
            <div class="col">
                <input type="text" readonly th:value="${i.fio}" class="form-control">
            </div>
            <div class="col-auto">
                <a th:href="${'/groups/' + groupId + '/users/' + i.id + '/remove'}" class="btn btn-info">Убрать</a>
            </div>
        </div>

    </div>
</section>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/startup-modern.js"></script>

</body>

</html>
