<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Объяснительные</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>
<div th:insert="blocks/nav :: nav"></div>
<section class="py-4 py-md-5 my-5">
    <div class="container-md py-md-5">
        <h2 class="display-6 fw-bold mb-5 text-center">
            <span class="pb-1"><strong>Объяснительные</strong></span>
        </h2>

        <div th:if="${message}" class="alert alert-warning text-center">
            <strong th:text="${message}"></strong>
        </div>

        <form action="/notes/add" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <input type="file" accept="image/*" required name="file" class="form-control">
                </div>
                <div class="col-auto">
                    <input type="date" required name="dateWith" class="form-control">
                </div>
                <div class="col-auto">
                    <input type="date" required name="dateBy" class="form-control">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Добавить</button>
                </div>
            </div>
        </form>
        <hr>
        <div th:each="i : ${user.notes}" class="row mb-2">
            <div class="col">
                <a th:href="${'/img/' + i.file}" target="_blank" class="btn btn-primary w-100">Файл</a>
            </div>
            <div class="col-auto">
                <input type="date" readonly th:value="${i.dateWith}" class="form-control">
            </div>
            <div class="col-auto">
                <input type="date" readonly th:value="${i.dateBy}" class="form-control">
            </div>
            <div class="col-auto">
                <a th:href="${'/notes/' + i.id + '/delete'}" class="btn btn-danger">Удалить</a>
            </div>
        </div>

    </div>
</section>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/startup-modern.js"></script>

</body>

</html>
