<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Профиль</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>
<div th:insert="blocks/nav :: nav"></div>
<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <h2 class="display-6 fw-bold mb-5 text-center">
            <span class="pb-1"><strong>Профиль</strong></span>
        </h2>

        <div class="text-center mb-3">
            <span th:if="${role == 'USER' and user.group != null}" class="lead" th:text="${'Номер группы: ' + user.group.name}"></span>
            <span th:if="${role == 'MANAGER' and !user.subjects.isEmpty()}" class="lead" th:text="${'Предметы: ' + user.subjectsToString}"></span>
        </div>

        <form action="/profile/fio" method="post" class="mb-3">
            <div class="row">
                <div class="col">
                    <input type="text" required class="form-control" name="fio" th:value="${user.fio}"
                           placeholder="ФИО">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Обновить</button>
                </div>
            </div>
        </form>

        <form th:if="${role == 'USER'}" action="/profile/tel" method="post" class="mb-3">
            <div class="row">
                <div class="col">
                    <input type="tel" required class="form-control" placeholder="Номер телефона (xxx-xx-xxx-xx-xx)"
                           pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}" name="tel" th:value="${user.tel}">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Обновить</button>
                </div>
            </div>
        </form>

        <form th:if="${role == 'MANAGER'}" action="/profile/email" method="post" class="mb-3">
            <div class="row">
                <div class="col">
                    <input type="email" required class="form-control" placeholder="Эл. почта" name="email"
                           th:value="${user.email}">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Обновить</button>
                </div>
            </div>
        </form>

    </div>
</section>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/startup-modern.js"></script>

</body>

</html>
