<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${student.fio}"></title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>
<div th:insert="blocks/nav :: nav"></div>
<section class="py-4 py-md-5 my-5">
    <div class="container-md py-md-5">
        <h2 class="display-6 fw-bold mb-5 text-center">
            <span class="pb-1"><strong th:text="${student.fio}"></strong></span>
        </h2>

        <div class="text-center mb-3">
            <a href="/students" class="btn btn-primary">Назад</a>
        </div>

        <div class="row text-center">
            <div class="col">
                <span class="lead" th:text="${student.attendance}"></span>
            </div>
            <div class="col">
                <span class="lead" th:text="${'Тел. номер: ' + student.tel}"></span>
            </div>
        </div>
        <hr>
        <div id="drawAbsence" class="w-100" style="height: 300px"></div>
        <hr>
        <div th:each="i : ${student.notes}" class="row mb-2">
            <div class="col">
                <a th:href="${'/img/' + i.file}" target="_blank" class="btn btn-primary w-100">Файл</a>
            </div>
            <div class="col-auto">
                <input type="date" readonly th:value="${i.dateWith}" class="form-control">
            </div>
            <div class="col-auto">
                <input type="date" readonly th:value="${i.dateBy}" class="form-control">
            </div>
        </div>
        <hr>
        <div th:each="i : ${student.absences}" class="row mb-2">
            <div class="col">
                <input type="text" readonly th:value="${i.subject.name}" class="form-control">
            </div>
            <div class="col-auto">
                <input type="text" readonly th:value="${i.reason.name}" class="form-control">
            </div>
            <div class="col-auto">
                <input type="date" readonly th:value="${i.date}" class="form-control">
            </div>
            <div class="col-auto">
                <input type="number" readonly th:value="${i.count}" class="form-control">
            </div>
        </div>

    </div>
</section>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript" type="text/javascript">
    var absencesDisrespectful = /*[[${student.absencesDisrespectful}]]*/ 0;
    var absencesRespectful = /*[[${student.absencesRespectful}]]*/ 0;
</script>
<script src="/js/stats.js"></script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/startup-modern.js"></script>

</body>

</html>
